@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.active {
  width: 18%;
  border-bottom: 2px var(--button-primary) solid;
  color: var(--button-primary);
}
:root {
  --button-primary: #3cb161;
  --blue-primary: #00386e;
  --light-green: #d0ecd9;
  --light-blue: #cecfdc;
  --dark-gray: #333333;
  --light-gray: #dcdcdc;
  --white: #ffffff;
}
body {
  background-color: var(--white);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--white);
}
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--button-primary);
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: var(--light-blue);
  padding-top: 120px;
  transition: 0.4s;
}
.mobile-nav.is-active {
  left: 0;
}
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #3cb161;
  color: #fff;
  text-decoration: none;
}
.mobile-nav a:hover {
  background-color: #65cf86;
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
section h2 {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #313131;
  font-size: 36px;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 1025px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  font-size: 20px;
  background-color: var(--button-primary);
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.button:hover {
  transform: scale(1.09);
}
@media (max-width: 1025px) {
  .button {
    font-size: 18px;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
header img {
  width: 200px;
}
header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .container nav {
    display: none;
  }
}
header .container nav a {
  color: var(--dark-gray);
  font-size: 20px;
  text-decoration: none;
}
header .container nav .button a {
  color: var(--white) !important;
}
@media (max-width: 769px) {
  header .container .button {
    display: none;
  }
}
header.is-scrolling {
  background-color: #f3f3f3;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  color: var(--dark-gray);
}
header.is-scrolling .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
main #hero {
  border-bottom: 1px #cccccc solid;
  color: var(--white);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  main #hero .container {
    flex-direction: column;
  }
}
main #hero .container .content {
  width: 90%;
  margin-top: 8rem;
}
@media (max-width: 768px) {
  main #hero .container .content {
    margin-top: 5rem;
    width: 100%;
  }
}
main #hero .container h1 {
  font-size: 48px;
  color: var(--dark-gray);
}
@media (max-width: 768px) {
  main #hero .container h1 {
    font-size: 30px;
  }
}
main #hero .container p {
  font-size: 28px;
  color: var(--dark-gray);
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  main #hero .container p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  main #hero img {
    margin-top: 1.3rem;
  }
}
@media (max-width: 360px) {
  main #hero img {
    display: none;
  }
}
main img {
  width: 800px;
}
@media (max-width: 769px) {
  main img {
    width: 300px;
  }
}
main #grow {
  position: relative;
  min-height: 50vh;
  z-index: 9;
}
@media (max-width: 769px) {
  main #grow {
    position: static;
  }
}
main #grow .container {
  text-align: center;
}
main #grow .container .grow-content {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
@media (max-width: 1025px) {
  main #grow .container .grow-content {
    text-align: left;
  }
}
main #grow .container .grow-content h2 {
  color: var(--blue-primary);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 16px;
}
@media (max-width: 769px) {
  main #grow .container .grow-content h2 {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  main #grow .container .grow-content h2 {
    font-size: 30px;
  }
}
main #grow .container .grow-content p {
  color: var(--dark-gray);
  font-size: 20px !important;
  font-weight: 400;
  margin-bottom: 28px;
  text-align: center;
}
@media (max-width: 769px) {
  main #grow .container .grow-content p {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  main #grow .container .grow-content p {
    font-size: 15px;
  }
}
main #grow .cards {
  position: absolute;
  top: 9.375rem;
  left: 0;
  right: 0;
  bottom: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  z-index: 2;
  padding: 0 13rem;
}
@media (max-width: 1015px) {
  main #grow .cards {
    position: static;
    padding: 0;
  }
}
@media (max-width: 769px) {
  main #grow .cards {
    position: static;
    padding: 0;
  }
}
@media (max-width: 300px) {
  main #grow .cards {
    flex-direction: column;
  }
}
main #grow .cards .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  width: 200px;
  height: 200px;
  box-shadow: 10px 0px 5px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 0px 5px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 0px 5px -10px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
@media (max-width: 1015px) {
  main #grow .cards .card {
    box-shadow: none;
  }
}
@media (max-width: 769px) {
  main #grow .cards .card {
    box-shadow: none;
  }
}
main #grow .cards .card .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
main #grow .cards .card .icon img {
  width: 20px;
}
@media (max-width: 769px) {
  main #grow .cards .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
main #features {
  position: relative;
  margin-top: 3rem;
  background: var(--light-blue);
}
@media (max-width: 1025px) {
  main #features {
    position: static;
  }
}
main #features .heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}
main #features .heading h3 {
  color: inherit;
  font-size: 2.4rem !important;
  font-weight: 800;
}
@media (max-width: 769px) {
  main #features .heading h3 {
    font-size: 2rem !important;
  }
}
@media (max-width: 600px) {
  main #features .heading h3 {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 769px) {
  main #features .heading {
    position: static;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
  }
}
main #features .heading .button-primary {
  background-color: var(--blue-primary) !important;
}
@media (max-width: 769px) {
  main #features .heading .button-primary {
    display: none;
  }
}
main #features .grid-side {
  display: flex;
  justify-content: space-between;
}
main #features .grid-side img {
  width: 400px;
}
@media (max-width: 769px) {
  main #features .grid-side img {
    display: none;
  }
}
main #features .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 5rem 0;
}
@media (max-width: 769px) {
  main #features .grid {
    width: 70%;
    padding: 2rem 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
main #features .grid .grid-item a {
  color: var(--blue-primary);
  text-decoration: underline;
}
@media (max-width: 769px) {
  main #features .grid .grid-item h4 {
    font-size: 25px;
  }
}
main #features .grid .see-more {
  text-decoration: underline;
  color: var(--blue-primary);
}
main #price {
  background: var(--white);
  padding: 3rem 0;
}
main #price .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #price .container img {
  width: 500px;
}
@media (max-width: 769px) {
  main #price .container img {
    display: none;
  }
}
@media (max-width: 769px) {
  main #price .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
main #price .content {
  width: 50%;
  padding: 2rem 0;
}
@media (max-width: 769px) {
  main #price .content {
    width: 80%;
  }
}
main #price .content h2 {
  text-align: left;
  color: var(--blue-primary);
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 2rem;
}
@media (max-width: 769px) {
  main #price .content h2 {
    font-size: 28px;
    text-align: left;
  }
}
main #price .content p {
  font-size: 22px;
  margin-bottom: 2rem;
}
@media (max-width: 769px) {
  main #price .content p {
    font-size: 17px;
  }
}
main #price .content .button-transparent {
  background: transparent !important;
  color: var(--blue-primary);
  border: 2px solid var(--blue-primary);
}
main #start {
  background: var(--light-blue);
  margin-top: 2rem;
  padding: 3rem;
}
main #start .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}
@media (max-width: 769px) {
  main #start .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
main #start .container h1 {
  color: var(--white);
  font-size: 40px !important;
  margin-bottom: 2rem;
}
main #start .container .button-primary {
  background-color: var(--blue-primary) !important;
}
main footer {
  background: var(--white);
  padding: 3rem;
}
main footer a {
  color: inherit;
}
main footer a:hover {
  color: var(--blue-primary);
}
main footer img {
  width: 200px;
}
main footer .address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
@media (max-width: 769px) {
  main footer .address {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  main footer .address {
    flex-direction: column;
  }
}
main footer .address .links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}
@media (max-width: 769px) {
  main footer .address .links {
    display: none;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
main footer .address .links ul {
  list-style: none;
}
main footer .address .links ul li {
  margin-top: 1rem;
}
main footer .social i {
  margin-right: 1rem;
}
.about-header nav a {
  color: var(--button-primary) !important;
}
.about-header .button a {
  color: var(--white);
}
#about {
  margin-bottom: 3rem;
}
#about .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
#about .container h1 {
  color: inherit;
  text-transform: uppercase;
  font-size: 45px !important;
  font-weight: 900;
  margin-bottom: 2rem;
  color: var(--blue-primary);
}
@media (max-width: 769px) {
  #about .container h1 {
    font-size: 38px !important;
  }
}
#vision .container {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 769px) {
  #vision .container {
    flex-direction: column;
  }
}
#vision .container img {
  width: 500px;
  margin-bottom: 1rem;
}
#vision .container .content {
  text-align: left;
  width: 40%;
}
@media (max-width: 769px) {
  #vision .container .content {
    width: 100%;
  }
}
#vision .container .content h2 {
  color: var(--blue-primary);
  text-align: left;
}
#vision .container .content p {
  color: var(--dark-gray);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.3rem !important;
}
@media (max-width: 1025px) {
  #vision .container .content p {
    font-size: 18px;
  }
}
.p-click:hover {
  cursor: pointer;
}
.login {
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
}
.login #student-content,
.login #parent-content {
  display: none;
  opacity: 0;
}
.login .show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}
@media (max-width: 967px) {
  .login {
    flex-direction: column;
    margin-top: 6rem;
  }
  .login .login-image {
    display: none;
  }
}
.login form {
  width: 40%;
  height: 100%;
}
@media (max-width: 967px) {
  .login form {
    width: 100%;
  }
}
.login .container {
  padding-left: 50px;
  padding-right: 100px;
  background-color: #fff;
  min-height: 100vh;
}
@media (max-width: 1025px) {
  .login .container {
    padding-right: 50px;
  }
}
.login .links {
  display: flex;
  gap: 1rem;
  padding: 3rem;
  margin-top: 4rem;
}
.login .links a {
  margin: 1rem;
}
.login .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.login .user h1 {
  color: var(--blue-primary);
}
.login .form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}
.login .form-group input {
  width: 100%;
  padding: 0.6rem 1rem;
  outline: none;
  appearance: none;
  border: 1px solid #cccccc;
}
.login .submit {
  color: var(--white);
  width: 100%;
  height: 40px;
  background-color: var(--button-primary);
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  margin-bottom: 1rem;
}
.login .forgot {
  color: var(--button-primary);
}
.home {
  text-align: left;
}
.create .close {
  text-align: right;
}
.create .close img {
  width: 30px;
}
.create .logo img {
  width: 200px;
}
.create form {
  display: flex;
  justify-content: center;
  align-items: center;
}
