@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --button-primary: #3cb161;
  --blue-primary: #00386e;
  --light-green: #d0ecd9;
  --light-blue: #cecfdc;
  --dark-gray: #333333;
  --light-gray: #dcdcdc;
  --white: #ffffff;
}

body {
  background-color: var(--white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #333333;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #3cb161;

  color: #fff;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #65cf86;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

section {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;

    color: #313131;
    font-size: 36px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;

  @media (max-width: 1024px) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @media (max-width: 767px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: var(--white);
  font-size: 20px;
  background-color: var(--button-primary);
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  // font-weight: 700;
  cursor: pointer;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  img {
    width: 200px;
  }

  .container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: inherit;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 900;

      span {
        font-weight: 600;
      }
    }

    nav {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(4, auto);

      @media (max-width: 767px) {
        display: none;
      }

      a {
        color: var(--white);
        font-size: 20px;
        text-decoration: none;
      }

      .button {
        a {
          color: var(--white) !important;
        }
      }
    }

    .button {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &.is-scrolling {
    background-color: #242323;
    .container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

main {
  #hero {
    color: var(--white);
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("./img/hero.jpg");
    background-position: top right;
    background-size: cover;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-color: var(--dark-gray);
      opacity: 0.8;
    }

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      h1 {
        font-size: 55px;
        margin-bottom: 32px;

        span {
          color: #ff9fdb;
        }

        @media (max-width: 767px) {
          font-size: 32px;
        }
      }

      h3 {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 32px;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }
  }
  img {
    width: 400px;
  }

  #grow {
    position: relative;
    min-height: 65vh;
    z-index: 9;

    @media (max-width: 767px) {
      position: static;
    }
    .container {
      text-align: center;

      .grow-content {
        margin-top: 3rem;
        margin-bottom: 5rem;

        @media (max-width: 767px) {
          text-align: left;
        }
      }

      h2 {
        color: var(--blue-primary);
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 16px;

        @media (max-width: 767px) {
          font-size: 36px;
        }
      }

      p {
        color: var(--dark-gray);
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 28px;

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
    }

    .cards {
      position: absolute;
      top: 200px;
      left: 0;
      right: 0;
      bottom: 3rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 3rem;
      z-index: 2;

      @media (max-width: 767px) {
        position: static;
      }

      .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: var(--white);
        width: 200px;
        height: 200px;
        box-shadow: 6px 5px 5px -1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 6px 5px 5px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 5px 5px -1px rgba(0, 0, 0, 0.75);

        @media (max-width: 767px) {
          box-shadow: none;
        }

        .icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: var(--light-gray);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 3rem;
          margin-top: 1rem;

          img {
            width: 20px;
          }
        }
      }
    }
  }

  #features {
    position: relative;
    margin-top: 3rem;

    @media (max-width: 767px) {
      position: static;
    }

    background: var(--light-blue);
    .heading {
      position: relative;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5rem;

      @media (max-width: 767px) {
        position: static;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 3rem;
      }

      h3 {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 32px;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }

      .button-primary {
        background-color: var(--blue-primary) !important;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      padding: 5rem 0;

      @media (max-width: 767px) {
        width: 70%;
        padding: 2rem 0;
        grid-template-columns: repeat(1, 1fr);
      }

      .grid-item {
        a {
          text-decoration: underline;
        }

        @media (max-width: 767px) {
          h4 {
            font-size: 25px;
          }
        }
      }
    }
  }

  #price {
    background: var(--white);
    padding: 3rem 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        @media (max-width: 767px) {
          display: none;
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .content {
      width: 50%;
      padding: 2rem 0;

      @media (max-width: 767px) {
        width: 80%;
      }

      h2 {
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 900;
        margin-bottom: 2rem;

        @media (max-width: 767px) {
          text-align: left;
        }
      }

      p {
        margin-bottom: 2rem;
      }
    }
  }

  #start {
    background: var(--light-blue);
    margin-top: 2rem;
    padding: 3rem;

    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 3rem;

      @media (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h1 {
          margin-bottom: 2rem;
        }
      }
    }
  }

  footer {
    background: var(--white);
    padding: 3rem;

    .address {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      @media (max-width: 767px) {
        flex-direction: column;
      }

      .links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-around;

        @media (max-width: 767px) {
          display: none;
          grid-template-columns: repeat(1, 1fr);
          margin-top: 1rem;
          gap: 2rem;
        }

        ul {
          list-style: none;

          li {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

// ABOUT STYLES!!!!----------------------------
.about-header {
  nav {
    a {
      color: var(--button-primary) !important;
    }
  }

  .button {
    a {
      color: var(--white);
    }
  }
}
#about {
  margin-bottom: 3rem;

  .container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;

    h1 {
      color: inherit;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 2rem;
      color: var(--blue-primary);

      span {
        font-weight: 600;
      }
    }
  }
}

#vision {
  .container {
    display: flex;
    justify-content: space-around;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    img {
      width: 500px;
    }

    .content {
      text-align: left;
      width: 40%;

      @media (max-width: 767px) {
        width: 100%;
      }

      h2 {
        color: var(--blue-primary);
        text-align: left;
      }

      p {
        color: var(--dark-gray);
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 0.3rem !important;

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
    }
  }
}
